@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&family=Lato:ital,wght@0,100;0,300;1,300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #040c18;
}

a {
  color: white;
  text-decoration: none;
}

.main-bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(130, 3, 130, 1) 0%,
    rgba(10, 10, 143, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(130, 3, 130, 1) 0%,
    rgba(10, 10, 143, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(130, 3, 130, 1) 0%,
    rgba(10, 10, 143, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A0A8F', endColorstr='#820382', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(130, 3, 130, 1) 0%,
    rgba(10, 10, 143, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(130, 3, 130, 1) 0%,
    rgba(10, 10, 143, 1) 100%
  );
}

.flip-scale-up-hor {
  -webkit-animation: flip-scale-up-hor 0.5s linear both;
  animation: flip-scale-up-hor 0.5s linear both;
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}

.section-padding {
  padding: 60px 100px;
}

.section-margin {
  margin: 60px 100px;
}

/* for big phone/tablate */

@media screen and (max-width: 700px) {
  .section-padding {
    padding: 50px;
  }
  .section-margin {
    margin: 50px;
  }
}

/* for mobile */

@media screen and (max-width: 550px) {
  .section-padding {
    padding: 50px 32px;
  }
  .section-margin {
    margin: 50px 32px;
  }
}
